SnakeEyes/WcfServiceTraceListener/Connected Services/MonitoringService/MonitoringService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55751/Areas/Monitoring/WcfServices/MonitoringService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TWP.Areas.Monitoring.Models" />
  <xs:element name="AddProbeResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TWP.Areas.Monitoring.Models" minOccurs="0" name="ProbeResultMessage" nillable="true" type="q1:ProbeResultMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProbeResultResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>