SnakeEyes/WcfServiceTraceListener/Connected Services/MonitoringService/MonitoringService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TWP.Areas.Monitoring.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TWP.Areas.Monitoring.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55751/Areas/Monitoring/WcfServices/MonitoringService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Diagnostics" />
  <xs:complexType name="ProbeResultMessage">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Diagnostics" minOccurs="0" name="EventType" type="q1:TraceEventType" />
      <xs:element minOccurs="0" name="MachineName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxValue" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MinValue" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Timestamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProbeResultMessage" nillable="true" type="tns:ProbeResultMessage" />
</xs:schema>